<h1>Links</h1>
<div id="options">
  <%= link_to 'New Link', new_link_path %>
</div>

<table cellspacing="0" cellpadding="0">
  <tr>
    <th>Title</th>
    <th>Address</th>
    <th>Icon</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @links.each do |link| %>
  <tr class="linkitem <%= cycle('odd', 'even') %>" valign="top">
    <td><%= link.title %></td>
    <td><%= link.address %></td>
    <td><%= image_tag(link.icon.url(:small)) %></td>
    <td><%= link_to 'Show', link %></td>
    <td><%= link_to 'Edit', edit_link_path(link) %></td>
    <td><%= link_to 'Destroy', link, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
