<p id="notice"><%= notice %></p>

<h1><%= link_to @link.title, @link.address %></h1>
<div id="options">
  <%= link_to 'Edit', edit_link_path(@link) %> |
  <%= link_to 'Back', links_path %>
</div>

<p>
  <%= image_tag(@link.icon.url) %>
</p>



