<p id="notice"><%= notice %></p>

<h1><%= @photo.title %> <sup><%= @photo.day %></sup></h1>
<div id="options">
  <%= link_to 'Edit', edit_photo_path(@photo) %> |
  <%= link_to 'Back', photos_path %>
</div>

<p>
  <%= image_tag(@photo.image.url(:medium)) %>
</p>



